<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Sistema de Viajes</title>
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  </head>


  <body>
    <!-- Fixed navbar -->
   
    <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Usac</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="active"><a href="/manual">Manual</a></li> 
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Consultas<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/Consultas">Rutas Y Buses</a></li>
                <li><a href="/Consulta1">ABC Buses</a></li>
                <li><a href="/Comprar">Comprar Ticket</a></li>
    <li><a href="#">Viajes</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Ingreso Datos</li>
                <li><a href="#">Rutas</a></li>
                <li><a href="#">Proveedores</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Manual Tecnico</h1>
        <p>Descripcion</p>
        <p>La aplicacion consiste en el ingreso y muestra de datos de desde una base de datos con PostgreSQL a traves de NodeJs
        Se podran realizar consultas acerca de rutas, viajes  y buses del sistema
        Ademas se podran comprar y reservar tickets
        </p>

        <p>Dependencias</p>
        <li>Node Js</li>
        <li>Bootstrap 3.0</li>
        <li>Body Parser</li>
        <li>Pg plugin PostgreSQL for NodeJs</li>
        <li>PostgreSQL</li>

        <p>Organizacion Codigo</p>
        <li>-app.js</li>
        <li>views</li>
        <li>-index.html</li>
        <li>-ABC.html</li>
        <li>-Consultas.html</li>
        <li>Routes</li>
        <li>-index.js</li>

        
      </div>
    </div> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
